:where(.css-dev-only-do-not-override-17seli4).ant-pagination
  .ant-pagination-item-active
  a {
  background-color: #0174bb;
  color: #fff !important;
  border-radius: 3px !important;
}
:where(.css-dev-only-do-not-override-17seli4).ant-pagination
  .ant-pagination-item-active {
  border: #0174bb;
}
